@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-itmes-container{
   flex-direction: column;
        }
        .nav-itmes-container a{
            margin-top: 20px;
        }
        .follow-btn{
            margin-right: 0px;
            margin-bottom: 5px;
        }

/* first section end */
.banner-container{
    flex-direction: column;
   
        }
.banner-text{
    width: 100%;
     }
     .banner-img{
        width: 100%;
    }
    /* second section end */
}