@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
body{
    font-family: 'Oswald', sans-serif; 
}
*{
    box-sizing: border-box;
}
 /* first section start  */
nav{
    background-color: #ffffff;
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
}
.logo-container{
display: flex;
align-items: center;
width: 50%;
}
.logo-container img{
    width: 40px;
    height: 20px;
    margin-right: 10px;
}
.logo-container p{
    font-size: 20px;
    font-weight: 800;
}
.primary-color{
    color: #ff42a5;
}
.nav-itmes-container{
width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-itmes-container a{
    text-decoration: none;
}
.follow-btn{
    background-color:#e7e6e9;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
}
.icon-sizeing{
    width: 15px;
    align-items: center;
}
/* first section eng */

/* second section start */
.banner-container{
    max-width: 1400px;
    min-height: 50%;
    margin: 50px auto 0;
    display: flex;
    text-align: center;
    background-image: url("../Group\ 14.png");
}
.banner-text{
width: 50%;
}
.banner-img{
    width: 50%;
}
.banner-container img{
    width: 100%;
    height: 100%;
}
.banner-text h1{
   background-image: linear-gradient(to bottom,rgba(247, 247, 29, 0.915),#18f1f1);
    color: transparent;
    -webkit-background-clip: text;
}
.primary-btn{
color:#ffffff;
border: none;
border-radius: 15px;
padding: 10px;
margin: 5px;
background-color: #ff42a5;
}
.banner-btn{
 color:#ffffff;
 border: none;
border-radius: 15px;
padding: 10px;
margin: 5px;
 background-color:#18f1f1 ;
}
/* second section end */

/* four section start */
.banner-container-position{
    max-width: 1400px;
    min-height: 100%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.text-description{
width: 300px;
margin: 0 auto;
align-items: center;
}
.banner-img-style>img{
    width: 50%;
}
.banner-img-style{
     width:10%;
     width: 40%;
     position: relative;
}
.cartion-img{
    width:40% ;
     width: 150px; 
     position: absolute;
    bottom: -60px;
    left: -25px;
}
.banner-container-position img{
    width: 100%;
    height: 100%;
} 
/* four section end */

/* five section start */
.img-decription-style{
   max-width: 1400px;
   min-height: 100%;
   margin-top: 60px;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   justify-content: space-around;
   text-align: center;
}
.img-decription-style>p>img{
    width: 20px;
}
.img-decription-style>p>span{
font-size: 10px;
align-items: center;
}
.img-decription-style p:hover{
border: 1px solid red;
border-radius: 20px;
color:#ff42a5; 
}
/* five section end */

/* footer section start */
.footer-section{
    max-width: 1400px;
    height: 50vh;
    background-color:#000000;
    color:#ffffff ;
    text-align: center;
    padding-top:50px;
    padding-bottom: 20px;
}
.footer-icon-sectction img{
    width: 40px;
    height: 20px;
}
.footer-icon-sectction p{
    font-size: 20px;
    font-weight: 800;
}

.footer-conten{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.footer-icon{
    display:inline;
}
.footer-icon img{
    width: 35px;
    gap:10px;
}
.footer-description{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

